@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<input type="radio" value="1" name="group"  @onclick="@(()=> selectedGroup=1)" checked="@(selectedGroup == 1)" /> male
<input type="radio" value="2" name="group" @onclick="@(()=> selectedGroup=2)" checked="@(selectedGroup == 2)"/> female

<br />
@selectedGroup

@code {
    private int selectedGroup { get; set; } = 2;
}