@page "/product"

@inject ISearchProduct _searchProduct

<h3>SearchProductComponent</h3>
<SearchBarComponent OnSearch="HandleSearch" />

<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Brand</th>
            <th>Price</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        @if (products != null && products.Count() > 0)
        {
            @foreach (var product in products)
            {
                <ProductItemComponent product="product"/>
            }
        }
        else
        {
            <tr>
                <td colspan="5">No Record Found</td>
            </tr>
        }
    </tbody>
</table>

@code {
    private IEnumerable<Product> products;

    protected override void OnInitialized()
    {

        base.OnInitialized();
        products = _searchProduct.Execute();

    }

    private void HandleSearch(string filter)
    {
        products = _searchProduct.Execute(filter);

    }

}
