<div class="input-group mb-3">
  <input type="text" class="form-control" placeholder="Filter" @bind-value="filter">
  <div class="input-group-append">
    <button class="btn btn-outline-secondary" type="button" @onclick="HandleSearch">Filter</button>
  </div>
</div>


@code{
    private string filter;

    [Parameter]
    public EventCallback<string> OnSearch { get; set; } 

    private void HandleSearch()
    {
        OnSearch.InvokeAsync(filter);
    }

}

